In [4]:
#multiple statment on single line

x=10;y=5;z=x+y
print(z)

15

In [5]:
#semantics in python
#variable Assigment

age =33
name = "krish"

In [6]:
type(age)

int

In [7]:
#type Inference
variable =10
print(type(variable))
variable ="krish"
print(type(variable))

<class 'int'>
<class 'str'>

In [8]:
#declaring and assingn varibale 

age =32
height =6.0
name ="krish"
is_student =True

#printing variable

print("age :",age)
print("Height :",height)
print("Name :",name)

age : 32
Height : 6.0
Name : krish

In [9]:
#type conversion 
age_str=str(age)
print(age_str)
print(type(age_str))

32
<class 'str'>

In [10]:
#dyanmic typing
# python allows the type of a variable to change aas the program executes

var =10 #int 
print(var,type(var))

var ="hello"
print(var,type(var))

var =3.14
print(var,type(var))

10 <class 'int'>
hello <class 'str'>
3.14 <class 'float'>

In [12]:
#input

age =int(input("what is the age"))
print(age,type(age))

34 <class 'int'>

In [13]:
#DATATYPE
# integer example 
result = "hello"+ str(5)
print(result)

hello5

In [14]:
#operators
#arthmearic opreation

a=10
b=5
add_res = a+b  #addition
sub_res =a-b   #substracion
mul_res = a*b  #multiplication
div_res = a/b   #division
floor_div_res = a//b  #floor ddiv
modulud_res =a%b #mod
exponent_res = a**b 

print(add_res)
print(sub_res )
print(mul_res)
print(div_res)
print(floor_div_res)
print(modulud_res)
print(exponent_res)

15
5
50
2.0
2
0
100000

In [16]:
#compariosn opreator
#== equal to
a=10
b=10
a==b
#not equal to !=
a!=b

False

In [18]:
#logical opreator
## AND, NOT , OR
# if both true then ony true
X=True
y= False

result = x and y
print(result)

False

In [22]:
#or operator

x=False
y=False
result = x or y
print(result)

False

In [23]:
#not opreator
x= True
not x

False

In [27]:
##SETS 
##Create  a SET
my_set={1,3,4,5,6,7}
print(my_set)
print(type(my_set))
my_set.add(9)
my_set.remove(3)
print(my_set)
my_set.discard(9)
print(my_set)

{1, 3, 4, 5, 6, 7}
<class 'set'>
{1, 4, 5, 6, 7, 9}
{1, 4, 5, 6, 7}

In [28]:
#set membership test
my_set={1,3,4,5,6}
print(3 in my_set)
print(10 in my_set)

True
False

In [33]:
#mathmetical opreation
set1={1,3,4,5,6}
set2={4,5,6,7,8,9}

## union
union_set =set2.union(set1)
print(union_set)
## intersection 
intersection_set = set1.intersection(set2)
print(intersection_set)

set2.intersection_update(set1)
print(set2)

{1, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}
{4, 5, 6}

In [37]:
#difference
set1={1,3,4,5,6}
set2={4,5,6,7,8,9}
print(set1.difference(set2))

print(set1)

{1, 3}
{1, 3, 4, 5, 6}

In [38]:
#symmetric diff
set1.symmetric_difference(set2)

{1, 3, 7, 8, 9}

In [39]:
list =[1,2,4,5]
set(list)

{1, 2, 4, 5}

In [40]:
## counting unquie words in text 
text = "siddhant"
words = text.split()
unique_words = (set(words))
print(unique_words)

{'siddhant'}

In [1]:
#dictionaries
 #creatind dic

empty_dic={}
print(type(empty_dic))

<class 'dict'>

In [2]:
empty_dic = dict()
empty_dic

{}

In [5]:
student ={"name":"krish","age":32,"garde":'A'}
print(student)

{'name': 'krish', 'age': 32, 'garde': 'A'}

In [8]:
#Accesing dic element

print(student['garde'])
print(student['age'])

#accesing using get()methd
print(student.get('garde'))
print(student.get('last_name',"not avaiable"))

A
32
A
not avaiable

In [9]:
#Modifying dic element
print(student)

{'name': 'krish', 'age': 32, 'garde': 'A'}

In [11]:
student["age"]=33
student["address"]="india"


del student['garde']
print(student)

{'name': 'krish', 'age': 33, 'address': 'india'}

In [13]:
##dictinonary methoda
keys = student.keys() #get all the keys
print(keys)
values = student.values()#get all the values
print(values)
  
items = student.items()
print(items)

dict_keys(['name', 'age', 'address'])
dict_values(['krish', 33, 'india'])
dict_items([('name', 'krish'), ('age', 33), ('address', 'india')])

In [14]:
#shallow copy
student_copy = student
print(student_copy )
print(student)

{'name': 'krish', 'age': 33, 'address': 'india'}
{'name': 'krish', 'age': 33, 'address': 'india'}

In [15]:
student["name"]="siddhant"
print(student_copy )
print(student)

{'name': 'siddhant', 'age': 33, 'address': 'india'}
{'name': 'siddhant', 'age': 33, 'address': 'india'}

In [16]:
##shallow copy
student_copy = student.copy()
student["name"]="kalapee"
print(student_copy )
print(student)

{'name': 'siddhant', 'age': 33, 'address': 'india'}
{'name': 'kalapee', 'age': 33, 'address': 'india'}

In [17]:
##itreation over dic
#you can use loop to itreative

##itreation over keys
for keys in student.keys():
    print (keys)

name
age
address

In [18]:
##itreative over value

for keys in student.values():
    print (keys)

kalapee
33
india

In [20]:
#itrative over key value pair
for keys,value in student.items():
    print (f"{keys}:{value}")

name:kalapee
age:33
address:india

In [21]:
#nested dic
students={
    "student1":{"nam":"kalapee","age":32},
    "student2":{"nam":"kala","age":2},

}
print(students)

{'student1': {'nam': 'kalapee', 'age': 32}, 'student2': {'nam': 'kala', 'age': 2}}

In [25]:
##access nested dic
print(students["student1"]["nam"])

kalapee

In [27]:
##iterative
for stud_id,stud_age in students.items():
    print(f"{stud_id}:{stud_age}")
    for key,value in stud_age.items():
        print(f"{key}:{value}")

student1:{'nam': 'kalapee', 'age': 32}
nam:kalapee
age:32
student2:{'nam': 'kala', 'age': 2}
nam:kala
age:2

In [28]:
#dic comphersion

square={x:x**2 for x in range(5)}
print(square)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [30]:
  #frequency
numbers=[1,2,3,4,4,4,5,5,5]
freq ={}

for number in numbers:
    if number in freq:
        freq[number]+=1
    else:
        freq[number]=1
print(freq)

{1: 1, 2: 1, 3: 1, 4: 3, 5: 3}

In [31]:
#megre two dic

dic1={"A":1,"b":2}
dic2={" c":3,"d":4}
meged_dic={**dic1,**dic2}
print(meged_dic)

{'A': 1, 'b': 2, ' c': 3, 'd': 4}

In [35]:
#list
to_list  =["buy grocs","clean house","pay bill"]
##adiing ts
to_list.append("schedule meeting")
#removing 
to_list.remove("clean house")
#checking if a task is in list 
if "pay bill" in to_list:
    print("don't forget")
print("To Do LIST remaingn")
for task in to_list:
    print(f"-{task}")

don't forget
To Do LIST remaingn
-buy grocs
-pay bill
-schedule meeting

In [ ]:
grades = [85, 92,78,90,58]
#adding append

grades.append(67)
#calulating the avg grade
avg_grade = sum(grades)/len(grades)
print(f"avg grade:{avg_grade:.2f}")

In [ ]:
#FUNCTION

##SYNTAX
def function_name(paramter):
    #function body
   return exprsion

In [37]:
def odd_or_even(num):
    if num%2==0:
        print("number is eevn")
    else:
        print("number is odd")

In [38]:
odd_or_even(24)

number is eevn

In [39]:
#function with multiple paramter

def add(a,b):
    return a+b

result = add(2,3)
print(result)

5

In [43]:
#default paramter

def greet(name):
    print(f"hello{name} welcme tho paradish")


greet("kalapee")

hellokalapee welcme tho paradish

In [44]:
#varaible length argument

def print_number(*args):
    for number in args:
        print(number)

In [46]:
def convert_temp(temp,unit):

    if unit =='C':
        return temp* 9/5 +32
    if unit =='F':
        return (temp-32)*5/9
    else:
        return None

print(convert_temp(25,'C'))
print(convert_temp(25,'F'))

77.0
-3.888888888888889

In [47]:
#strong password check

def is_strong_pass(password):
    if len(password)<8:
        return False
    if not any(char.isdigit() for char in password):
        return False
    if not any(char.islower() for char in password):
        return False
    if not any(char.isupper() for char in password):
        return False
    if not any(char in '!@#$%^&*()_' for char in password):
        return False
    return True

In [49]:
is_strong_pass("Adfdf34@#")

True

In [52]:
#checck if palindroome oar not

def palindrome_check(s):
    s = s.lower().replacce(" ","")
    return s==s[::-1]
print(palindrome_check("A man a plan a canal panama"))

AttributeError: 'str' object has no attribute 'replacce'

In [1]:
add= lambda a,b :a+b
type(add)
print(add(5,6))

11

In [7]:
def get_name(person):
    return person['name']

people = {
    {'name':'sidd','age':32},
    {'name':'jack','age':45}
}

list(map(get_name(people)))

TypeError: unhashable type: 'dict'

In [8]:
#filtersunction
def even(num):
    if num%2==0:
        return True

In [9]:
even(24)

True

In [10]:
lst ={1,2,3,4,5,6,7,8,9,10,11,12}
list(filter(even,lst))

[2, 4, 6, 8, 10, 12]

In [ ]:
def get_name(person):
    return person['name']

people = {
    {'name':'sidd','age':32},
    {'name':'jack','age':45}
}

list(map(get_name(people)))

In [11]:
#importing module and packae
import math
math.sqrt(16)

4.0

In [13]:
from math import sqrt,pi
print(sqrt(56))
print(pi)

7.483314773547883
3.141592653589793

In [3]:
import numpy as np
np.array([1,2,3,4])

array([1, 2, 3, 4])

In [2]:
from math import *

print(sqrt(16))

4.0

In [1]:
from packages import math
math.add(2,3)

ModuleNotFoundError: No module named 'packages'